name: CI

on:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install just
      uses: extractions/setup-just@v2

    - name: Make just available for root
      run: |
        sudo ln -sf $(which just) /usr/local/bin/just

    - name: Install system dependencies
      run: just ci-install-deps

    - name: Install yubico-piv-tool from kushal's build
      run: just ci-install-yubico

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Lint Rust
      run: cd ifd-jcecard && cargo clippy -- -D warnings

    - name: Test Rust unit tests
      run: just test-rust

    - name: Build IFD handler
      run: just ci-build-ifd

    - name: Install IFD handler to pcscd
      run: just install-ifd

    # Python is used only for running integration tests
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Create Python virtualenv for tests
      run: just ci-setup-venv

    - name: Configure gpg-agent for loopback pinentry
      run: just ci-gpg-loopback

    - name: Start pcscd
      run: just ci-start-services

    - name: Run integration tests
      run: just ci-test

    - name: Upload logs on failure
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: debug-logs
        path: /tmp/pcscd_debug.log
        retention-days: 1
